*{
	box-sizing: border-box;
}
html{
	/* Create a light green background.*/
	background-color: #bbff99;
}

.header{
	display: flex;
	flex-direction: row;
}

	.contact-info_layout-default{
		height: 8.5em;
		padding: .5em 0 0 .5em;
		width: 20%;
	}

		.contact-info__address-line{
			margin: 0;
			padding: 0;
		}

	.logo_layout-default{
		height: 8.5em;
		text-align: center;
		width: 60%;
	}

		.logo__button_layout-default{
			height: 98%;
			width: 46.75em;
		}
		
		.logo__button_style-default{
			background-image: url(images/tcf_logo.png);
			background-color: #bbff99;
			background-repeat: no-repeat;
			border-style: none;
			cursor: pointer;
		}

	.header__right_layout-default{
		height: 8.5em;
		width: 20%;
	}

.navbar_layout-default{
	height: 2.5em;
	margin: 0.3125em 0.3125em 0.3125em 0;
	padding-top: 0.5em;
	text-align: center;
	width: 100%;
}

.navbar_style-default{
	/*Create a green background darker than the page background.*/
	background-color: #5cd65c;
	border-bottom: 0.0625em solid black;
	border-top: 0.0625em solid black;
}

.body{
	display: flex;
	flex-direction: row;
}

.body_style-default{
	border: 0.0625em solid black;
}

	.menu{
		display: flex;
		flex-direction: column;
	}
	
	.menu_layout-default{
		height: 24em;
		text-align: left;
		width: 20%;
	}
	
	.menu_style-default{
		overflow-y: scroll;
	}
	
		.menu__button{
			font-size: 1em;
			margin: 0.3125em 0 0 0.3125em;
			padding: .2em 1em .4em;
			width: 80%;
		}
		
		.menu__div{
			border-bottom: 0.00625em solid black;
			border-top: 0.00625em solid black;
			font-size: 1.5em;
			font-weight: bold;
			margin: 0.3125em 0 0 0;
			padding: 0 0 0.3125em 0.3125em;
		}
	
	.main_layout-default{
		height: 24em;
		text-align: center;
		width: 60%;
	}
	
		.main__display{
			border-left: 0.0625em solid black;
			border-right: 0.0625em solid black;
			overflow-y: scroll;
			padding-top: 0.3125em;
		}
		
		.main__display_short{
			height: 22.45em;
			
		}
		
		.main__display_tall{
			height: 24em;
		}
			
			.display__label{
				margin: 0 0.3125em 0;
			}
			
			.display__p{
				font-size: 1.5em;
				font-weight: bold;
			}
			
			.display__submit_display-block{
				display: block;
			}
	
		.main__table-header{
			border-bottom: 0.0625em solid black;
			border-left: 0.0625em solid black;
			border-right: 0.0625em solid black;
		}
	
	.feedback{
		height: 24em;
		overflow-y: scroll;
		padding: .5em 0 0 .5em;
		text-align: left;
		width: 20%;
	}

.footer{
	margin: 0;
	position: relative;
    text-align: center;
}

.navbar__ul{
	margin: 0;
	padding: 0;
}

.navbar_li{
	display: inline;
	margin-right: 0.5em;
	padding: 0;
}
.table{
	font-size: 1em;
	margin: auto;
	text-align: left;
}
#thead_tr{
	padding-right: 1em;
}
.th{
	/*Create a dark green background.*/
	background-color: #008000;
	border: 0.0625em solid black;
	display: inline-block;
	font-size: 1em;
	font-weight: bold;
	margin-bottom: 0.125em;
	margin-left: 0.125em;
	margin-top: 0.125em;
	min-height: 1.3em;
	text-align: center;
}
.td{
	background-color: white;
	border: 0.0625em solid black;
	display: inline-block;
	font-size: 1em;
	margin-bottom: 0.125em;
	margin-left: 0.125em;
	margin-top: 0.125em;
	min-height: 1.3em;
	padding-left: 0.375em;
	text-align: left;
	vertical-align: top;
}
.tr:hover .td{
  background-color: #5cd65c;
}
.td0, .td2, .td3{
	width: 14%;
}
.td1{
	width: 54%;
}
.td3{
	background: none;
	border: none;
	display: inline-block;
	font-size: 1em;
	margin-bottom: 0.125em;
	margin-left: 0.125em;
	margin-top: 0.125em;
	min-height: 1.3em;
	text-align: center;
	vertical-align: top;	
}
#th0, #th2, #th3{
	width: 14%;
}
#th1{
	width: 54%;
}
.btn_hidden{
    visibility: hidden;
}
.button{
	border: 0.0625em solid #009900;
	border-radius: .5em;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	overflow: visible;
	position: relative;
}
.button-green{
	background-color: #008000;
	box-shadow: 0 0 .25em #bababa, inset 0 0 .125em;
}
.button-green:hover{
	background: #006600;
}
.green:active{
	background: #009900;
}

.button-letter{
	font-size: 1em;
	height: 2.5em;
	margin: 0.3125em 0 0 0.3125em;
	width: 5em;
}

.button-page{
	font-size: 1em;
	height: 2em;
	margin: 0.3125em 0 0 0.3125em;
	width: 4em;
}

.button-sport{
	font-size: 1.325em;
	margin: 0.3125em 0 0 0.3125em;
	height: 2.5em;
	width: 7em;
}

.button-year{
	font-size: 1em;
	height: 2em;
	margin: 0.3125em 0 0 0.3125em;
	width: 4em;
}

.loader{
	animation: spin 2s linear infinite;
	border: 1em solid #f3f3f3; /* Light grey */
	border-radius: 50%;
	border-top: 1em solid #5cd65c; /* Dark green */
	height: 4em;
	margin-left: auto;
    margin-right: auto;
	width: 4em;
}
@keyframes spin{
	0%{transform: rotate(0deg);}
	100%{transform: rotate(360deg);}
}
.card_name, .set_total{
	margin: 0;
	padding: 0;
}
.btn_sales{
	width: 100%;
}
.background-border{
	background-color: white;
	border: 0.0625em solid black;
}