* {
  /* border: 1px solid black; */
	box-sizing: border-box;
}

body {
	/* Create a light green background.*/
  background-color: #bbff99;
  font-family: Veranda, Arial, Helvetica, sans-serif;
  font-size: medium;
	margin: 0;
  overflow: hidden;
	padding: 0;
}

#wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  display: flex;
  justify-content: center;
}
  
  #contact-info {
    display: none;
    margin: 0 0 0 0.5em;
		padding: 0.5em;
    width: 30%;
	}

  #contact-info address {
    line-height: 1.2;
    margin: 0.5em 0 0 0;
  }

  #logo {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0.5em;
    width: 100%;
  }

  #logo a {
    cursor: pointer;
  }

  #logo img {
    border: none;
    max-width: 100%;
  }
  
  #navbar {
    align-items: center;
    /*Create a green background darker than the page background.*/
    background-color: #5cd65c;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    display: flex;
    justify-content: flex-start;
    margin: 0.5em;
    min-height: 3em;
  }
  
  #navbar a {
    cursor: pointer;
    text-decoration: underline;
    margin: 0 0 0 0.5em;
  }

	#icon {
    cursor: pointer;
    margin: 0 0 0 0.5em;
  }
  
  .last_row {
    display: flex;
    /* Fill the remaining space. */
    flex: 1;
    padding: 0 0.5em;
  }
  
  #menu {
    align-items: stretch;
    background-color: #bbff99;
    border: 1px solid black;
    display: none;
    flex-direction: column;
    /* float: left; */
    /* justify-content: space-evenly; */
    margin: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    /* padding: 0 0.5em 0.5em 0.5em; */
    /* text-align: left; */
    z-index: 1;
	}
    .display_flex {
      display: flex;
    }
    
    .display_none {
      display: none;
    }
  
    #menu button {
      margin: 0.5em;
      min-height: 1.8em;
    }
    
		h2 {
      border-bottom: 1px solid black;
			border-top: 1px solid black;
			font-size: 1.5em;
			font-weight: bold;
      margin: 0.25em 0 0 0;
      padding: 0.25em 0;
      text-align: center;
      width: 100%;
		}
    
    #menu ul {
      margin: 0.5em 0 0 0;
      padding: 0;
    }
    
    .menu_link {
      list-style-type: none;
      margin: 0.25em 0 0 0;
      padding: 0;
    }
	
	#main {
    border: 1px solid black;
    /* display: grid; */
    /* Fill the remaining space. */
    flex: 1;
    line-height: 1.5;
    overflow-y: scroll;
    /* overflow-x: hidden; */
    /* padding: 0 0.5em 0.5em 0.5em; */
	}
  
    #wrapper_sport {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin: 0.5em;
    }
    
    #wrapper_letter, #wrapper_year {
      align-items: center;
      display: grid;
      grid-column-gap: 0.1em;
      grid-row-gap: 0.25em;
      grid-template-columns: repeat(10, 10%);
      justify-content: center;
      padding: 0.5em 0 0 0;
    }

  #feedback {
    border: 1px solid black;
    grid-column-start: 16;
    grid-column-end: 21;
    grid-row-start: 8;
    grid-row-end: 21;
    margin: 0.5em 0.5em 0 0;
    overflow-y: scroll;
    visibility: hidden;
	}

@media only screen and (min-width: 681px) {
  /* For tablets. */
}

@media only screen and (min-width: 1008px) {
  header {
    justify-content: flex-start;
  }
  
  #icon {
    display: none;
  }
  
  #contact-info {
    display: block;
	}
  
  #logo {
    width: 40%;
  }
  
  #menu {
    background-color: transparent;
    display: flex;
  }
  
  #main {
    border-left: none;
	}
  
  #wrapper_sport {
      display: grid;
      grid-column-gap: 0.5em;
      grid-row-gap: 0.25em;
      grid-template-columns: repeat(4, auto);
      justify-content: center;
    }
    
    #wrapper_letter, #wrapper_year {
      grid-column-gap: 0.5em;
      grid-row-gap: 0.25em;
      grid-template-columns: repeat(10, auto);
    }
    
    #wrapper_letter {
      grid-template-columns: repeat(9, auto);
    }
    
      .button-sport {
        width: 6.5em;
      }
      
      .button-letter, .button-year {
        width: 3.5em;
      }
}

.color-green:focus {
  /* Active is +5% of main background-color. */
	background-color: hsl(120, 100%, 30%);
  /* Get lighter from top to bottom. */
  /* First number is -5% smaller than second. */
	background: linear-gradient(hsl(120, 100%, 25%),
    hsl(120, 100%, 30%));
  border-color: #ffffff;
    /* Shadow and hover are -5% of background-color */
  box-shadow: 0px 2px 0px hsl(120, 100%, 20%),
    0px 1px 6px rgba(0,0,0,0.4),
    inset 0px 1px 0px rgba(255,255,255,0.3),
    inset 0px 0px 3px rgba(255,255,255,0.5);
    transform: translate(0, 4px) rotateX(20deg);
}

.button-green {
  /* green 25% */
  background-color: #008000;
  /* green 30% -> 25% */
	background: linear-gradient(#009900, #008000);
  /* green 30% */
  border-color: #009900;
  box-shadow: 0px 3px 0px #006600,
    0px 3px 12px rgba(0,0,0,0.4),
    inset 0px 1px 0px rgba(255,255,255,0.3),
    inset 0px 0px 3px rgba(255,255,255,0.5);
  color: #ffffff;
}

.button-green:active {
  /* green 30% */
	background: #009900;
  /* green 25% -> 30% */
	background: linear-gradient(#008000, #009900);
  box-shadow: 0px 1.5px 0px #006600,
    0px 1.5px 6px rgba(0,0,0,0.4),
    inset 0px 1px 0px rgba(255,255,255,0.3),
    inset 0px 0px 3px rgba(255,255,255,0.5);
    transform: translate(0, 1.5px);
}

.button-green:focus {
  outline: 0;
}

.button-green:hover {
  /* green 20% */
	background: #006600;
}

.button-letter, .button-page, .button-year {
  align-self: center;
  /* box-shadow: 0px 4px 0px #006600,
    0px 3px 12px rgba(0,0,0,0.4),
    inset 0px 1px 0px rgba(255,255,255,0.3),
    inset 0px 0px 3px rgba(255,255,255,0.5); */
	font-size: 1em;
	height: 2em;
  justify-self: center;
	margin-bottom: 0.5em;
	width: 4em;
}

.button-sport{
  align-self: center;
  font-size: 1.5em;
  height: 2.5em;
  justify-self: center;
  margin-bottom: 0.5em;
  width: 7em;
}

table {
	margin: 0.5em auto;
  margin-bottom: 0;
  table-layout: fixed;
  width: 80%;
}

thead th:nth-child(1), tbody td:nth-child(1) {
	width: 15%;
}

thead th:nth-child(2), tbody td:nth-child(2) {
	width: 50%;
}

thead th:nth-child(3), tbody td:nth-child(3) {
	width: 15%;
}

thead th:nth-child(4), tbody td:nth-child(4) {
	width: 20%;
}

#table2 {
  margin-top: 0;
}

tbody tr:nth-child(odd) {
  background-color: hsl(0, 0%, 100%);
}

tbody tr:nth-child(even) {
  background-color: #5cd65c;
}

tr:hover td {
  border: 1px solid hsl(120, 100%, 25%);
}

th {
	/*Create a dark green background.*/
	background-color: hsl(120, 100%, 25%);
	border: 1px solid black;
  cursor: pointer;
  padding: 0.25em;
}

td {
	background-color: transparent;
	border: 1px solid black;
  padding: 0.25em;
}

tbody tr td:nth-child(4) {
  text-align: center;
}

.wrapper_table1, .wrapper_table2 {
  max-height: 100%;
  overflow-y: scroll;
}

.wrapper_table2 {
  flex: 1;
  padding: 0 0 0.5em 0;
}

.main_table {
  display: flex;
  /* Fill the remaining space. */
  flex-direction: column;
}
  
.td0, .td2, .td3{
	width: 14%;
}
.td1{
	width: 54%;
}
.td3{
	background: none;
	border: none;
	display: inline-block;
	font-size: 1em;
	margin-bottom: 0.125em;
	margin-left: 0.125em;
	margin-top: 0.125em;
	min-height: 1.3em;
	text-align: center;
	vertical-align: top;	
}
#th0, #th2, #th3{
	width: 14%;
}
#th1{
	width: 54%;
}
.loader {
	animation: spin 2s linear infinite;
	border: 1em solid #f3f3f3; /* Light grey */
	border-radius: 50%;
	border-top: 1em solid #5cd65c; /* Dark green */
	height: 4em;
	margin-left: auto;
  margin-right: auto;
	width: 4em;
}

@keyframes spin {
	0@{transform: rotate(0deg);}
	100%{transform: rotate(360deg);}
}

.card_name, .set_total{
	margin: 0;
	padding: 0;
}

.btn_sales {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: bold;
  height: 100%;
	width: 100%;
}

.btn_sales:focus {
  outline: 0;
}

.background-border {
	background-color: white;
	border: 1px solid black;
}