<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="{{ favicon }}">
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{{ buttons }}">
    <link rel="stylesheet" href="{{ css }}">
  </head>
  <body>
    <div id="wrapper">
      <header>
        <div id="contact-info">
          <a href="mailto:increaseefficiency01@gmail.com">
            increase-efficiency01@gmail.com</a>
          <address>
            19 Denver Drive<br>
            West Sand Lake, New York 12196
          </address>
        </div>
        <div id="logo">
          <a href="https://www.increase-efficiency.net/">
            <img src="{{ logo }}" alt="Increase Efficiency Logo">
          </a>
        </div>
      </header>
      <nav id="navbar"><i id="icon" class="material-icons">menu</i>
        <a id="home" class="nav_link">Home</a>
        <a id="button_gallery" class="nav_link">3D Button Gallery</a>
      </nav>
      <div id="last_row" class="last_row">
        <nav id="menu">
          <h2>Project Links</h2>
          <ul>
            <li class="menu_link">
              <a href="https://www.warekare.com/">WareKare</a></li>
            <li class="menu_link">
              <a href="https://www.increase-efficiency.net/tcf">
                TCF</a></li>
            <li class="menu_link">
              <a href="https://www.increase-efficiency.net/adc">
                ADC Optimizer</a></li>
            <li class="menu_link">
              <a href="https://www.increase-efficiency.net/barcode">
                Barcode Form</a></li>
            <li class="menu_link">
              <a href="https://www.increase-efficiency.net/compare">
                Price Compare</a></li>
          </ul>
        </nav>
        <main id="main">
          <!-- <div class="page effect2">
            <div class="page page1 effect2">
              <div class="page page1 effect2">
                <div id="blank_page" class="page page1"></div>
              </div>
            </div>
          </div> -->
        </main>
      </div>
    </div>
  <script type="text/javascript" src="{{ javascript }}"></script>
  </body>
</html>