<!DOCTYPE html>
<html lang="en-US">
<head>
	<title>{{ title }}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<link type="image/x-icon"
		href="{{ favicon }}" rel="shortcut icon">
	<link type="text/css" href="{{ css }}" rel="stylesheet">
</head>
<body>
	<div id="header" class="header">
		<div id="contact-info" class="contact-info_layout-default">
			<a href="mailto:mickeybuysgold@gmail.com">mickeybuysgold@gmail.com</a>
			<p class="contact-info__address-line">470 North Greenbush Road</p>
			<p class="contact-info__address-line">Rensselaer, New York 12144</p>
			<p class="contact-info__address-line">(518) 283-3818</p>
		</div>
		<div id="logo" class="logo_layout-default">
			<button id="btn_logo"
				class="logo__button_layout-default logo__button_style-default">
			</button>
		</div>
		<div id="header__right" class="header__right_layout-default"></div>
	</div>
	<nav id="navbar" class="navbar_layout-default navbar_style-default">
	</nav>
	<div id="body" class="body body_style-default">
		<div id="menu" class="menu menu_layout-default menu_style-default">
			<button id="btn_overstock"
				class="button button-green menu__button">Overstock</button>
			<button id="btn_orders"
				class="button button-green menu__button">Orders</button>
			<button id="btn_order-details"
				class="button button-green menu__button">Order Details</button>
			<button id="btn_customers"
				class="button button-green menu__button">Customers</button>
			<button id="btn_download-inventory"
				class="button button-green menu__button">Download Inventory</button>
			<button id="btn_newly-added"
				class="button button-green menu__button">Newly Added</button>
			<div class="menu__div">Reports</div>
			<button id="btn_sales-tax"
				class="button button-green menu__button">Sales Tax</button>
			<button id="btn_sets"
				class="button button-green menu__button">Sets</button>
			<button id="btn_players"
				class="button button-green menu__button">Players</button>
		</div>
		<div id="main" class="main_layout-default">
			<div id="main__display"
				class="main__display main__display_tall">
			</div>
		</div>
		<div id="feedback" class="feedback"></div>
	</div>
	<div id="footer" class="footer"></div>
	<script type="text/javascript" src="{{ javascript }}"></script>
</body>
</html>