<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="{{ favicon }}">
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{{ buttons }}">
    <link rel="stylesheet" href="{{ css }}">
  </head>
  <body>
    <div id="wrapper">
      <header>
        <div id="contact-info">
          <a href="mailto:mickeybuysgold@gmail.com">mickeybuysgold@gmail.com</a>
          <address>
            470 North Greenbush Road<br>
            Rensselaer, New York 12144<br>
            (518) 283-3818
          </address>
        </div>
        <div id="logo">
          <a href="https://www.increase-efficiency.net/tcf">
            <img src="{{ logo }}" alt="TCF Logo">
          </a>
        </div>
      </header>
      <nav id="navbar"><i id="icon" class="material-icons">menu</i></nav>
      <div id="last_row" class="last_row">
        <nav id="menu">
          <button id="btn_overstock"
            class="button color-green shape-rounded">Overstock</button>
          <button id="btn_orders"
          class="button color-green shape-rounded">Orders</button>
          <button id="btn_order-details"
            class="button color-green shape-rounded">Order Details</button>
          <button id="btn_customers"
            class="button color-green shape-rounded">Customers</button>
          <button id="btn_download-inventory"
            class="button color-green shape-rounded">Download Inventory</button>
          <button id="btn_newly-added"
            class="button color-green shape-rounded">Newly Added</button>
          <h2>Reports</h2>
          <button id="btn_sales-tax"
            class="button color-green shape-rounded">Sales Tax</button>
          <button id="btn_sets" class="button color-green shape-rounded">Sets</button>
          <button id="btn_players" class="button color-green shape-rounded">Players</button>
        </nav>
        <div id="main"></div>
      </div>
    </div>
  <script type="text/javascript" src="{{ javascript }}"></script>
  </body>
</html>