<!DOCTYPE html>
<html lang="en-US">
<head>
	<title>{{ title }}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<link type="image/x-icon"
		href="{{ favicon }}" rel="shortcut icon">
	<link type="text/css" href="{{ css }}" rel="stylesheet">
</head>
<body>
	<div id="header" class="header">
		<div id="contact-info" class="contact-info">
			<a class="contact-info__email-link"
				href="mailto:mickeybuysgold@gmail.com">mickeybuysgold@gmail.com</a>
			<p class="contact-info__address-line">470 North Greenbush Road</p>
			<p class="contact-info__address-line">Rensselaer, New York 12144</p>
			<p class="contact-info__address-line">(518) 283-3818</p>
		</div>
		<div id="logo" class="logo">
			<button id="logo__button" class="logo__button"></button>
		</div>
		<div id="header__right" class="header__right"></div>
	</div>
	<nav id="navbar" class="navbar">
	</nav>
	<div id="body" class="body">
		<div id="menu" class="menu">
			<div id="c3_L_r1" class="c3_L_r1">
				<button id="c3_L_r1_btn0"
					class="green button c3_L_r_btn">Overstock</button>
			</div>
			<div id="c3_L_r2" class="c3_L_r2">
				<button id="c3_L_r2_btn0"
					class="green button c3_L_r_btn">Orders</button>
			</div>
			<div id="c3_L_r3" class="c3_L_r3">
				<button id="c3_L_r3_btn0"
					class="green button c3_L_r_btn">Order Details</button>
			</div>
			<div id="c3_L_r4" class="c3_L_r4">
				<button id="c3_L_r4_btn0"
					class="green button c3_L_r_btn">Customers</button>
			</div>
			<div id="c3_L_r5" class="c3_L_r5">
				<button id="c3_L_r5_btn0"
					class="green button c3_L_r_btn">Download Inventory</button>
			</div>
			<div class="body__left_button-layout">
				<button id="button_newly-added"
					class="green button c3_L_r_btn">Newly Added</button>
			</div>
			<div id="c3_L_r6" class="c3_L_r6">Reports</div>
			<div id="c3_L_r7" class="c3_L_r7">
				<button id="c3_L_r7_btn0"
					class="green button c3_L_r_btn">Sales Tax</button>
			</div>
			<div id="c3_L_r8" class="c3_L_r8">
				<button id="c3_L_r8_btn0"
					class="green button c3_L_r_btn">Sets</button>
			</div>
			<div id="c3_L_r9" class="c3_L_r9">
				<button id="c3_L_r9_btn0"
					class="green button c3_L_r_btn">Players</button>
			</div>
		</div>
		<div id="main" class="main">
			<div id="main__display"
				class="main__display main__display_tall"></div>
		</div>
		<div id="feedback" class="feedback"></div>
	</div>
	<div id="footer" class="footer"></div>
	<script type="text/javascript" src="{{ javascript }}"></script>
</body>
</html>